
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


// colors
$darkblue: #54819C;
$blue: #669AB6;
$lightblue: #7AC4DD;
$gray: #666769;
$black: #212121;




// --------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
font-family: 'Dosis', sans-serif;
}

// HOME PAGE
// header
// -----------------------------------------------------


.logo{
  margin-top: 220px;
}

dl.navbar{
  margin: 0 auto;
  font-family: 'Dosis', sans-serif;
  dd{
    display: inline;
    padding-right: 20px;
  }
}

header.head{
  height: 500px;
  background-image: url('/static/main_app/app/images/background-wave2.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav{
  background-color: $black;
  h5{
    color: white;
    text-align: center;
  }
}

.material-icons{
  transform: rotate(90deg);
}

#submit{
 background-color: white;
 color: black;
 display: inline-block;
 margin: 30px auto 20px auto;
 width: 200px;
 font-family: 'Dosis', sans-serif;
}

#submit2{
  background-color: white;
  color: black;
  text-align: center;
  width: 100px;
  padding-left: 25px;
  margin-right: 460px;
  margin-top: 24px;
  font-family: 'Dosis', sans-serif;
}

#submit3{
  background-color: white;
  color: black;
  text-align: center;
  width: 100px;
  padding-left: 25px;
  margin-right: 460px;
  margin-top: 28px;
  font-family: 'Dosis', sans-serif;
}

#submit2:hover{
  background-color: $lightblue;
  color: white;
}

#submit3:hover{
  background-color: $lightblue;
  color: white;
}

#submit:hover{
  background-color: $lightblue;
  color: white;
}

#title{
  background-color: $blue;
  padding: 20px;
  font-family: 'Dosis', sans-serif;
}

#submitbtn{
  background-color: $gray;
  font-family: 'Dosis', sans-serif;
  width: 230px;
}

div.col.s12{
  padding: 0;
}

.home2{
  padding-top: 180px;
  height: 450px;
  background-color: $darkblue;
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.home3{
  padding-top: 180px;
  height: 450px;
  background-color: $gray;
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

#category{
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Dosis', sans-serif;
}

#white{
  color: white;
}

p{
  font-size: 24px;
}

.overlay {
  position: relative;
}

.overlay h2 {
  position: absolute;
   top: 248px;
   left: 17px;
   width: 100%;
   margin: -6px 0px 0px -1px;
   letter-spacing: 1.09px;
   line-height: 37px;

}

.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
}

.overlay:hover:after {
  opacity: 1;
  background-color: rgba(82, 129, 157, 0.5);
  height: 317px;
}

div.col.s4{
  padding: 0;
}

section.col.s12{
  padding: 0;
}

section.footer{
  height: 100px;
  background-color: white;
  p{
    margin-left: 100px;
    font-size: 20px;
    text-align: center;
  }
}

div#container{
  margin-bottom: 0;
}

dd.social.col.s4{
  padding: 90px;
}

dl.social{
  display: inline;
  padding: 20px;
}

.icon{
  height: 40px;
}

div#list2{
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  img {
    border-radius: 5%;
  }
}

.profilelinks{
  margin-top: 20px;
}

.yardsale{
  border: 1px solid black;
  border-radius: 10px;
  height: 300px;
  margin: 15px;
  padding-left: 20px;
}

.yardsale:hover{
  background-color: $lightblue;
}

.sales:hover{
  background-color: $blue;
}

.cart:hover{
  background-color: $darkblue;
}

.imgwrapper{
  margin-top: 20px;
  border: 1px solid black;
}

.sales{
  border: 1px solid black;
  border-radius: 10px;
  height: 300px;
  margin: 15px;
  padding-left: 20px;
}

.cart{
  border: 1px solid black;
  margin: 15px;
  border-radius: 10px;
  height: 300px;
  padding-left: 20px;
}

.item{
  border: 1px solid black;
  margin: 15px;
  border-radius: 10px;
  height: 240px;
  background-color: white;
}

.yardsale{
  height: 200px;
  overflow: hidden;
}

.stays{
  border-bottom: 1px solid red;
}
