
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


// colors
$darkblue: #48616c;
$blue: #48616c;
$lightblue: #48616c;
$gray: #666769;
$black: #212121;
$red: #ff5a5a;




// --------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
font-family: 'Dosis', sans-serif;
}

// HOME PAGE
// header
// -----------------------------------------------------


.logo{
  height: 100px;
  margin-top: 100px;
  h1{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: white;
    font-size: 90px;
  }
}

dl.navbar{
  margin: 0 auto;
  font-family: 'Dosis', sans-serif;
  dd{
    display: inline;
    padding-right: 20px;
  }
}

header.head{
  height: 500px;
  background-color: #ff5a5a;
  background-image: url('/static/main_app/app/images/pink.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
}

.nav{
  background-color: $black;
  h5{
    color: white;
    text-align: center;
  }
}

.material-icons{
  transform: rotate(90deg);
}

#submit{
 background-color: white;
 color: black;
 display: inline-block;
 margin: 30px auto 20px auto;
 width: 200px;
 font-family: 'Dosis', sans-serif;
}

#submit2{
  background-color: white;
  color: black;
  text-align: center;
  width: 100px;
  padding-left: 25px;
  margin-right: 460px;
  margin-top: 24px;
  font-family: 'Dosis', sans-serif;
}

#submit3{
  background-color: white;
  color: black;
  text-align: center;
  width: 100px;
  padding-left: 25px;
  margin-right: 460px;
  margin-top: 28px;
  font-family: 'Dosis', sans-serif;
}

#submit2:hover{
  background-color: $red;
  color: white;
}

#submit3:hover{
  background-color: $red;
  color: white;
}

#submit:hover{
  background-color: $red;
  color: white;
}

#title{
  background-color: #48616c;
  padding: 20px;
  font-family: 'Dosis', sans-serif;
}

#submitbtn{
  background-color: $gray;
  font-family: 'Dosis', sans-serif;
  margin-right: 5px;
  width: 230px;
}

#submitbtn:hover{
  background-color: $red;
}

#submitbtn2{
  background-color: #ff5a5a;
  font-family: 'Dosis', sans-serif;
  width: 230px;
  font-size: 22px;
  height: 70px;
}

div.col.s12{
  padding: 0;
}

.home2{
  padding-top: 180px;
  height: 450px;
  background-color: $darkblue;
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.home3{
  padding-top: 180px;
  height: 450px;
  background-color: $gray;
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

#category{
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Dosis', sans-serif;
}

#white{
  color: white;
}

p{
  font-size: 24px;
}

.overlay {
  position: relative;
}

.overlay h2 {
  position: absolute;
   top: 248px;
   left: 17px;
   width: 100%;
   margin: -6px 0px 0px -1px;
   letter-spacing: 1.09px;
   line-height: 37px;

}

.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
}

.overlay:hover:after {
  opacity: 1;
  background-color: rgba(82, 129, 157, 0.5);
  height: 317px;
}

div.col.s4{
  padding: 0;
}

section.col.s12{
  padding: 0;
}

section.footer{
  height: 100px;
  background-color: white;
  p{
    margin-left: 100px;
    font-size: 20px;
    text-align: center;
  }
}

div#container{
  margin-bottom: 0;
}

dd.social.col.s4{
  padding: 90px;
}

dl.social{
  display: inline;
  padding: 20px;
}

.icon{
  height: 40px;
}

div#list2{
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  img {
    border-radius: 5%;
  }
}

.profilelinks{
  margin-top: 20px;
}

.yardsale{
  a{
    color: #ff5a5a;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover{
    color: black;
  }
  border-radius: 5px;
  height: 300px;
  margin: 15px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(241, 241, 241);
}

.imgwrapper{
  margin-top: 20px;
  border: 1px solid black;
}

.sales{
  a{
    color: #ff5a5a;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover{
    color: black;
  }
  border-radius: 5px;
  height: 300px;
  margin: 15px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(241, 241, 241);
}

.cart{
  a{
    color: #ff5a5a;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover{
    color: black;
  }
  border-radius: 5px;
  height: 300px;
  margin: 15px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(241, 241, 241);
}

.item{
  margin: 15px;
  border-radius: 5px;
  height: 260px;
  background-color: white;
}

.ydsale{
  height: 220px;
}

.ydsalebig{
  height: 300px;
}

.imgwrapper3{
  height: 225px;
  overflow: hidden;
}

.imgwrapper2{
  height: 150px;
  overflow: hidden;
}

.yardsale{
  height: 280px;
  overflow: hidden;
}

.stays{
  background-color: lighten($red, 20);
  margin-top: 20px;
}

.subtitle{
  text-align: center;
}

div.salenav{
  margin-top: 95px;
  margin-left: 20px;
}

.salemain{
  h3{
    text-align: center;
  }
}

.ydsalehuge{
  height: 550px;
}

.imgwrapper4{
  height: 450px;
  overflow: hidden;
}

div.rightside{
  margin-top: 480px;
}

#finish{
  margin-top: 20px;
  background-color: $red;
}

#add{
  background-color: $blue;
}

.formhead{
  padding: 10px;
}
