{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Kirby Yard Sale</title>
        <link rel="stylesheet" href="{% static 'main_app/dist/css/app.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    </head>
    <body>
      
      <div id="container"></div>
      {% csrf_token %}

      <script src="{% static 'main_app/dist/js/bundle.js' %}"></script>
    </body>
</html>
